# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

.gitconfig
.vscode
.packages

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# my customizations
bin/

scratch/

example/bukhari_chapter1.csv
example/example_1.dart
example/example_2.dart
example/hadith.json
example/ingest_csv.dart
example/ingest_json.dart